/* some style */

#matrix {
  display: flex;
  background-color:#dddddd;
}

.col {
  margin-left: -3px;
  margin-right: -3px;
  background-color: #666666;
}

.button {
  display:flex;
  align-items:center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 6px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 150%;
  background-color: #aaaaaa;
}

.lit {
 background-color: #eeeeee;
}
